<aside class="d-flex flex-column align-items-center">
    <section class="w-100 mt-4">
        <ul class="list-group">
            <li class="list-group-item">
                <div class="d-flex flex-column align-items-center">
                    <a class="btn-nav w-100 d-flex flex-column align-items-center dashLink" href="/dashboard">
                        <i class="fas fa-home sidebar-icon"></i>
                        <span>Início</span>
                    </a>
                </div>
            </li>
            <li class="list-group-item">
                <div class="d-flex flex-column align-items-center">
                    <a class="btn-nav w-100 d-flex flex-column align-items-center" href="/sectors">
                        <i class="fas fa-balance-scale sidebar-icon"></i>
                        <span>Setores</span>
                    </a>
                </div>
            </li>
            <li class="list-group-item">
                <div class="d-flex flex-column align-items-center">
                    <a class="btn-nav w-100 d-flex flex-column align-items-center"
                    href="/cabinets">
                        <i class="fas fa-door-closed sidebar-icon"></i>
                        <span>Gabinetes</span>
                    </a>
                </div>
            </li>
            <li class="list-group-item">
                <div class="d-flex flex-column align-items-center">
                    <a class="btn-nav w-100 d-flex flex-column align-items-center" href="/stock">
                        <i class="fas fa-archive sidebar-icon"></i>
                        <span>Estoque</span>
                    </a>
                </div>
            </li>
            <li class="list-group-item">
                <div class="d-flex flex-column align-items-center">
                    <a class="btn-nav w-100 flex-column d-flex align-items-center" href="/itens">
                        <i class="fas fa-sitemap sidebar-icon"></i>
                        <span>Itens</span>
                    </a>
                </div>
            </li>
        </ul>
    </section>
</aside>