@import './../../../node_modules/bootstrap/scss/bootstrap.scss';
@import '../../../node_modules/@fortawesome/fontawesome-free/scss/fontawesome';
@import '../../../node_modules/@fortawesome/fontawesome-free/scss/solid.scss';
@import '../../../node_modules/@fortawesome/fontawesome-free/scss/brands.scss';

// layout
body {
    background-color: rgb(219, 219, 219);
}

// nav
.user-icon {
    width: 100px;
}

.nav-hidden {
    width: 10%;
    @media(max-width: 670px) {
        width: 10%;
    }
    background-color: rgb(28, 25, 37);
}
.navbar {
    width: 90%;
    background-color: #7159C1;
    box-shadow: 2px 2px 2px 2px rgba(0,0,0,0.2);
    @media(max-width: 670px) {
        width: 90%;
    }
    .fa-bars {
        text-shadow: 1px 1px rgba(0,0,0,0.2);
    }
    .fa-bars:hover {
        cursor: pointer;
    }
}

// content 

aside {
    width: 10%;
    background-color: rgb(28, 25, 37);
    @media(max-width: 670px) {
        width: 15%;
    }
    .list-group, .list-group-item{
        background-color: transparent;
        box-shadow: 1px 1px 1px 1px rgba(0,0,0,0.1);
    }
    ul > li > div > a, ul > li > div > button {
        background-color: transparent;
        border: none;
        outline: 0;
        color: white;
        font-size: 1em;
        @media(max-width: 670px) {
            display: none;
        }
    }
    ul > li > div > a:hover {
        color: white;
        text-decoration: none;
    }
    ul > li {
        border-left: 3px solid transparent;
    }
    ul > li:hover {
        border-left: 2px solid white;
        background-color: rgba(255, 255, 255, 0.123);
    }
    @media(max-width: 1314px) {
        width: 10%;
        ul>li>div>*>span  {
            display: none;
        }
    }
    .icon-nav {
        font-size: 1.2em;
        color: white;
    }
    .sidebar-icon {
        color: white;
        font-size: 1.3em;
        margin-bottom: 5%;
    }
}