<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="img/settings.ico" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="css/dashboard/dashboard.style.css">
    <link rel="stylesheet" href="css/cabinets/cabinets.style.css">
    <title>Painel de Controle</title>
</head>
<body>
    <%- include('../../components/header/header.ejs', {where: 'Gabinetes'}) %>
    <div class="d-flex">
        <aside class="d-flex flex-column align-items-center">
            <section class="w-100 mt-4">
                <ul class="list-group">
                    <li class="list-group-item">
                        <div class="d-flex flex-column align-items-center">
                            <a class="btn-nav w-100 d-flex flex-column align-items-center dashLink" href="/dashboard">
                                <i class="fas fa-home sidebar-icon"></i>
                                <span>Início</span>
                            </a>
                        </div>
                    </li>
                    <li class="list-group-item">
                        <div class="d-flex flex-column align-items-center">
                            <a class="btn-nav w-100 d-flex flex-column align-items-center" href="/sectors">
                                <i class="fas fa-balance-scale sidebar-icon"></i>
                                <span>Setores</span>
                            </a>
                        </div>
                    </li>
                    <li class="list-group-item">
                        <div class="d-flex flex-column align-items-center">
                            <a class="btn-nav w-100 d-flex flex-column align-items-center"
                            href="/cabinets">
                                <i class="fas fa-door-closed sidebar-icon"></i>
                                <span>Gabinetes</span>
                            </a>
                        </div>
                    </li>
                    <li class="list-group-item">
                        <div class="d-flex flex-column align-items-center">
                            <a class="btn-nav w-100 d-flex flex-column align-items-center" href="/stock">
                                <i class="fas fa-archive sidebar-icon"></i>
                                <span>Estoque</span>
                            </a>
                        </div>
                    </li>
                    <li class="list-group-item">
                        <div class="d-flex flex-column align-items-center">
                            <a class="btn-nav w-100 flex-column d-flex align-items-center" href="/itens">
                                <i class="fas fa-sitemap sidebar-icon"></i>
                                <span>Itens</span>
                            </a>
                        </div>
                    </li>
                </ul>
            </section>
        </aside>
        <main class="d-flex flex-wrap">
            <% for (let i=1; i<=20; i++) { %>
                <div class="alert alert-info col-md-2 col-sm-6 col-5 mt-4 ml-3 box-cabinets d-flex flex-column align-items-center" role="alert">
                    <h4 class="alert-heading">Gabinete <%= i %></h4>
                    <hr >
                    <i class="fas fa-door-closed cabinets-icon"></i>
                    <button class="btn btn-outline-info w-100">Entrar</button>
                </div>
            <% } %>
        </main>
    </div>
    <script src="js/main.js"></script>
</body>
</html>