<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="css/home/home.style.css">
    <title>CPD - Controle</title>
</head>
<body class="login-container">
    <div class="container-fluid d-flex p-0 flex-column align-items-center">
        <header class="w-100 d-flex p-0 mb-5">
            <nav class="navbar w-100 flex-row justify-content-between align-items-center">
                <div>
                    <h3 class="mt-2 text-light font-weight-bold">
                        CPD
                    </h3>
                </div>
                <div>
                    <button class="btn btn-outline-light">Recuperar senha</button>
                </div>
            </nav>
        </header>
        <main class="col-11 col-md-5 col-sm-8 pt-5 pb-5">
            <form action="/auth" method="POST" class="d-flex flex-column align-items-center">
                <img src="img/user-icon.png" alt="icon" class="user-icon mb-4">
                <p class="title">Administrador</p>
                <input type="text" value="<%= username %>" class="form-control mb-3 w-75 pt-4 pb-4" name="username" placeholder="Usuário">
                <input type="password" class="form-control mb-4 w-75 pt-4 pb-4" value="<%= password %>"
                    name="password" placeholder="Senha">
                <% if(errors.length > 0) { %>
                    <div class="row w-75">
                        <div class="col-md-12 col-12">
                            <div class="alert alert-info">
                                <strong>Atenção</strong>
                                <ul>
                                    <% for(let i=0; i<errors.length; i++) { %>
                                        <li><%= errors[i].msg %></li>
                                    <% } %>
                                </ul>
                            </div>
                        </div>
                    </div>
                <% } %>
                <input type="submit" value="Login" class="btn btn-login pt-2 pb-2 w-75 font-weight-bold">
            </form>
        </main>
    </div>
    <script src="js/main.js" type="module"></script>
</body>
</html>