.btn-login {
    background-color: rgb(94, 145, 248);
    color: white;
    box-shadow: 1px 2px 1px 1px rgba(0, 0, 0, 0.356);
    text-shadow: 1px 1px rgba(0, 0, 0, 0.137);
}

.btn-login:hover {
    color: white;

    // -webkit-box-shadow: -2px 2px 61px 0px rgba(0, 0, 0, 0.75);
    // -moz-box-shadow: -2px 2px 61px 0px rgba(0, 0, 0, 0.75);
    // box-shadow: -2px 2px 61px 0px rgba(0, 0, 0, 0.75);
    background-color: rgba(94, 145, 248, 0.829);
}