.login-container {
    background-color: rgb(94, 145, 248);
}

.main-login {
    background-color: white;
    border-radius: 12px;
    padding: 5% 0%;
    -webkit-box-shadow: -2px 2px 31px 0px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: -2px 2px 31px 0px rgba(0, 0, 0, 0.2);
    box-shadow: -2px 2px 31px 0px rgba(0, 0, 0, 0.527);
}