@import './../../../../node_modules/bootstrap/scss/bootstrap.scss';
@import '../../../../node_modules/@fortawesome/fontawesome-free/scss/fontawesome';
@import '../../../../node_modules/@fortawesome/fontawesome-free/scss/solid.scss';
@import '../../../../node_modules/@fortawesome/fontawesome-free/scss/brands.scss';
@import '../../components/header/header.scss';

// layout
body {
    background-color: rgb(238, 238, 238);
}
// content 
aside {
    width: 7%;
    background-color: rgb(28, 25, 37);
    @media(max-width: 670px) {
        width: 17.5%;
    }
    .list-group, .list-group-item{
        background-color: transparent;
        box-shadow: 1px 1px 1px 1px rgba(0,0,0,0.1);
    }
    ul > li > div > a, ul > li > div > button {
        background-color: transparent;
        border: none;
        outline: 0;
        color: white;
        font-size: 1em;
        @media(max-width: 670px) {
            display: none;
        }
    }
    ul > li > div > a:hover {
        color: white;
        text-decoration: none;
    }
    ul > li {
        border-left: 3px solid transparent;
    }
    ul > li:hover {
        border-left: 2px solid white;
        background-color: rgba(255, 255, 255, 0.123);
    }
    @media(max-width: 1174px) {
        ul>li>div>*>span  {
            display: none;
        }
    }
    .icon-nav {
        font-size: 1.2em;
        color: white;
    }
    .sidebar-icon {
        color: white;
        font-size: 1.3em;
        margin-bottom: 5%;
    }
}
.alert-box {
    box-shadow: 2px 2px 2px 2px rgba(0,0,0,0.2);
}
.btn-more {
    font-size: 4em;
    position: absolute;
    right: 0;
    bottom: 0;
    margin-bottom: 3%;
    margin-right: 2%;
    color: rgb(78, 63, 129);
    text-shadow: 2px 2px rgba(0,0,0,0.3);
    transition: 0.3s all;
}

.btn-more:hover {
    cursor: pointer;
    color: rgb(38, 31, 59);
}