<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="img/triangle.png" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="css/dashboard/dashboard.style.css">
    <title>Painel de Controle</title>
</head>
<body>
    <div class="container-fluid p-0">
        <%- include('../../components/header/header.ejs', {where: 'Início', init:'active', sectors: '', cabinets:'', stock:''}) %>
        <main class="d-flex w-100">
            <section class="w-100 d-flex flex-wrap">
                <div class="bg-light col-md-6 col-11 col-sm-11 p-2 mt-4 ml-4     apresentation">
                    <h5 class="text-dark">Atendimentos</h5>
                </div>
            </section>
            <!-- New Attendment -->
            <i class="fas fa-plus-circle" data-toggle="modal"
                data-target="#modalNewAttendment"></i>
            <!-- Modal -->
            <div class="modal fade" id="modalNewAttendment" tabindex="-1" role="dialog"
                aria-labelledby="modalNewAttendmentTitle" aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="modalNewAttendmentTitle">Novo Atendimento</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <form action="">
                                
                            </form>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-outline-danger" data-dismiss="modal">Cancelar</button>
                            <button type="button" class="btn btn-outline-info">Save changes</button>
                        </div>
                    </div>
                </div>
            </div>
        </main>
        <footer class="fixed-bottom w-100 d-flex justify-content-center">
            <nav class="navegation" aria-label="navegation">
                <ul class="pagination">
                    <li class="page-item"><a class="page-link" href="#">1</a></li>
                    <li class="page-item"><a class="page-link" href="#">2</a></li>
                    <li class="page-item"><a class="page-link" href="#">3</a></li>
                </ul>
            </nav>
        </footer>
    </div>
    <script src="/js/jquery.3.4.1.js"></script>
    <script src="js/dashboard/bootstrap.min.js"></script>
    <script src="/socket.io/socket.io.js"></script>
    <script src="js/dashboard/main.js" type="module"></script>
</body>
</html>