@import '../../../../node_modules/bootstrap/scss/bootstrap.scss';
@import '../../../../node_modules/@fortawesome/fontawesome-free/scss/fontawesome';
@import '../../../../node_modules/@fortawesome/fontawesome-free/scss/solid.scss';
@import '../../../../node_modules/@fortawesome/fontawesome-free/scss/brands.scss';
// Components
@import '../../components/header/header.scss';

// layout
body {
    background-color: rgb(238, 238, 238);
    main {
        section {
            .apresentation {
                box-shadow: 1px 1px 1px 1px rgba(0,0,0,0.1);
                border-radius: 4px;
                h5 {
                    margin-top: 0.6%;
                    margin-left: 1%;
                }
            }
        }
    }
}
.navigation > ul {
    box-shadow: 1px 1px 1px 1px rgba(0,0,0,0.4);
}
.page-link {
    text-decoration: none;
    color: rgb(63, 63, 63);
    font-weight: bold;
}

.page-link:hover {
    color: rgb(31, 197, 156);
}

.fa-plus-circle {
    font-size: 4em;
    color: rgb(104, 223, 193);
    text-shadow: 1px 3px rgba(0,0,0,0.1);
    position: absolute;
    right: 0;
    bottom: 0;
    margin-bottom: 3%;
    margin-right: 3%;
}

.fa-plus-circle:hover {
    cursor: pointer;
    color: rgb(82, 175, 152);
}