.user-icon {
    width: 40px;
}
nav {
    box-shadow: 1px 1px 1px 1px rgba(0,0,0,.1); 
}
.nav-ul {
    li {
        list-style: none;
        a {
            text-decoration: none;
            margin: 15px 5px 0px 15px;
            color: rgb(85, 85, 85);
            span {
                font-size: 1.1em;
                text-shadow: 1px 1px rgba(0,0,0,.1);
                transition: 0.1s all;
            }
            span:hover {
                color: rgb(28, 196, 154);
            }
        }
    }
}

.btn-config {
    text-decoration: none;
    font-size: 1.5em;
    margin-right: 10%;
    color: rgb(88, 88, 88);
}

.btn-config:hover {
    color: rgb(24, 138, 109);
}